<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/minireset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <script language="JavaScript" src="script/cart.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/templates/index.html}">
            <img src="img/logo.gif" alt=""
          /></a>
          <h1>订单详情</h1>
        </div>
        <div class="header-right">
          <h3>欢迎<span th:text="${session.user.uname}">张总</span>光临晓荷书城</h3>
          <div class="order"><a th:href="@{/orderList}">订单详情</a></div>
          <div class="destory"><a th:href="@{/deleteUser?operate=deleteUser}">注销</a></div>
          <div class="gohome">
            <a th:href="@{/orderList}">返回</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>

              <th>数量</th>
              <th>单价</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="orderItem : ${session.orderItemList}">
              <td>
                <img th:src="@{|uploads/${orderItem.realBook.bookImg}|}" alt="" />
              </td>
              <td th:text="${orderItem.realBook.bookName}">活着</td>
              <td th:text="${orderItem.buyCount}">5</td>
              <td th:text="${orderItem.realBook.price}">36.8</td>
              <td th:text="${orderItem.simpleBookPrice}">36.8</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">

        </div>
        <div class="content">

        </div>
      </div>
      <div class="down">
        晓荷书城 ©2022
      </div>
    </div>
  </body>
</html>
