<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmall.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="bookmall.pojo.Book">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="saleCount" column="sale_count" jdbcType="INTEGER"/>
            <result property="bookCount" column="book_count" jdbcType="INTEGER"/>
            <result property="bookImg" column="book_img" jdbcType="VARCHAR"/>
            <result property="bookStatus" column="book_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,book_name,author,
        price,sale_count,book_count,
        book_img,book_status
    </sql>
</mapper>
