<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmall.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="bookmall.pojo.OrderItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="book" column="book" jdbcType="INTEGER"/>
            <result property="buyCount" column="buy_count" jdbcType="INTEGER"/>
            <result property="orderBean" column="order_bean" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,book,buy_count,
        order_bean
    </sql>
</mapper>
